{% extends "base.html" %} {% block title %}Settings{% endblock %}
{% block content %}

    <div class="container settings-container">
        <br />
        <div class="row">
            <div class="col-10">
                <p>Change your password</p>
            </div>
            <div class="col btn-column">
                <button class="btn btn-primary change-pwd-button settings-btn" type="button" id="changePwdButton">
                    Click
                </button> 
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-10">
                <p>Switch between themes</p>
            </div>
            <div class="col btn-column">
                <button href="/settings" class="btn-toggle btn btn-primary settings-btn" type="button" id="placeholder">
                    Click
                </button> 
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-10">
                <p>Settings row placeholder</p>
            </div>
            <div class="col btn-column">
                <button class="btn btn-primary settings-btn" type="button" id="placeholder">
                    Click
                </button> 
            </div>
        </div>
        <br />        <div class="row">
            <div class="col-10">
                <p>Settings row placeholder</p>
            </div>
            <div class="col btn-column">
                <button class="btn btn-primary settings-btn" type="button" id="placeholder">
                    Click
                </button> 
            </div>
        </div>
        <br />
    </div>

{% endblock %}